.button-back {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 61px;
    top: 62px;

    /* background: url(Imagem4.png); */
    opacity: 0.7;
    transform: rotate(-180deg);
  }

.main-page {
    background: #132A3E;
  }

.logo-pages {
    position: absolute;
    width: 267px;
    height: 69px;
    left: 95px;
    top: 9px;
}

.nome {
    position: absolute;
    width: 335px;
    height: 47px;
    left: 57px;
    top: 277px;

    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #B1B1B1;

}

.email {
    position: absolute;
    width: 335px;
    height: 47px;
    left: 57px;
    top: 198px;

    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #B1B1B1;
}


/* .usuario {
    position: absolute;
    width: 335px;
    height: 47px;
    left: 57px;
    top: 277px;

    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #B1B1B1;
} */

.senha {
    position: absolute;
    width: 335px;
    height: 47px;
    left: 61px;
    top: 340px;

    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #B1B1B1;
}

.ConfirmarSenha {
    position: absolute;
    width: 335px;
    height: 47px;
    left: 59px;
    top: 396px;
    
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #B1B1B1;
}

.cadastrar-button {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 110px;
    top: 525px;

    background: #557D96;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.cliente-title {
    position: absolute;
    width: 65px;
    height: 27px;
    left: 88px;
    top: 109px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #D9D9D9;
}