.logo-help {
  position: absolute;
  width: 173px;
  height: 173px;
  left: 112px;
  top: 106px;
}

.options-help {
  position: absolute;
  width: 366px;
  height: 28px;
  left: calc(50% - 366px/2 + 10px);
  top: calc(50% - 28px/2 + 14px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #EFEFEF;
}

.itens-one {
  position: absolute;
  width: 366px;
  height: 28px;
  left: calc(50% - 366px/2 + 10px);
  top: calc(50% - 28px/2 + 14px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #EFEFEF;
}

.main-page {
  background: #132A3E;
}

.itens-two {
  position: absolute;
  width: 366px;
  height: 28px;
  left: calc(50% - 366px/2 + 9px);
  top: calc(50% - 28px/2 + 55px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #EFEFEF;
}

.itens-tree {
  position: absolute;
  width: 366px;
  height: 28px;
  left: calc(50% - 366px/2 + 9px);
  top: calc(50% - 28px/2 + 96px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #EFEFEF;
}

.itens-four {
  position: absolute;
  width: 366px;
  height: 28px;
  left: calc(50% - 366px/2 + 9px);
  top: calc(50% - 28px/2 + 134px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #EFEFEF;
}

.img1 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 39px;
  top: 658px;
}

.img2 {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 132px;
  top: 658px;
}

.img3 {
  position: absolute;
  width: 67px;
  height: 67px;
  left: 220px;
  top: 653px;
}

.img4 {
  position: absolute;
  width: 61px;
  height: 61px;
  left: 315px;
  top: 656px;
}

.button-back {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 65px;
  top: 57px;

  /* background: url(button-back.png); */
  transform: rotate(-180deg);
}