:root {
  --cor-primaria: #557D96;
  --cor-secundaria: #00ff00;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132A3E;

}

.container {
  width: 30rem;
  height: 35rem;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 212);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 30rem;
}

.botao {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}


.logo {

    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    top: 25px;

/* background: url(Imagem1.png); */
}

.help {
  position: absolute;
width: 64px;
height: 15px;
left: 342px;
top: 25px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;

color: #B1B1B1;
}

.fields-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;

}

.top{
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

a {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 10px; */
}

.enter-buttons {

  align-items: center;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
  border: none;
  /* height: 100vh; */

}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
}

.cliente-button {

width: 171px;
height: 35px;
left: 26px;
top: 441px;

background: #557D96;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}

.empresario-button {

  width: 164px;
  height: 35px;
  left: 223px;
  top: 444px;
  
  background: #557D96;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;

}

.input-group{
  position: relative;
}

.inputUser{
  background: none;
  border: none;
  border-bottom: 1px solid #9ebfd3;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.label-input {
  position: relative;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
  color: #9ebfd3;
  padding: 1rem;
  
}

.login-google {

width: 225px;
height: 26px;
left: 103px;
top: 541px;

background: var(--cor-primaria);
}

.login-apple {

  width: 225px;
  height: 26px;
  left: 103px;
  top: 581px;
  background: var(--cor-primaria);
}

.criar-conta {

width: 143px;
height: 19px;
left: 139px;
top: 624px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
text-align: center;

color: #B1B1B1;
}

.esqueceu-senha {

width: 114px;
height: 13px;
left: 270px;
top: 385px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #D9D9D9;
}