:root {
  --cor-primaria: #557D96;
  --cor-secundaria: #00ff00;
}

.botao {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.main-page {
  background: #132A3E;
}

.logo {
  position: absolute;
width: 149px;
height: 149px;
left: 133px;
top: 85px;

/* background: url(Imagem1.png); */
}

.fields-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* height: 100vh; */

}

a {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 10px; */
}

.enter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* height: 100vh; */

}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.cliente-button {
  position: absolute;
width: 171px;
height: 35px;
left: 26px;
top: 441px;

background: #557D96;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}

.empresario-button {
  position: absolute;
  width: 164px;
  height: 35px;
  left: 223px;
  top: 444px;
  
  background: #557D96;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;

}

.email-field {
  position: absolute;
width: 335px;
height: 47px;
left: 56px;
top: 273px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

color: #F4EBEB;

}

.passwd-field {
  position: absolute;
  width: 335px;
  height: 47px;
  left: 56px;
  top: 335px;
  
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  
  color: #F4EBEB;

}

.login-google {
  position: absolute;
width: 225px;
height: 26px;
left: 103px;
top: 541px;

background: var(--cor-primaria);
}

.login-apple {
  position: absolute;
  width: 225px;
  height: 26px;
  left: 103px;
  top: 581px;
  background: var(--cor-primaria);
}

.criar-conta {
  position: absolute;
width: 143px;
height: 19px;
left: 139px;
top: 624px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
text-align: center;

color: #B1B1B1;
}

.esqueceu-senha {
  position: absolute;
width: 114px;
height: 13px;
left: 270px;
top: 385px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #D9D9D9;
}