.main-page {


  
  background: #132A3E;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.fields-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* height: 100vh; */

}

a {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 10px; */
}

.enter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* height: 100vh; */

}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}